.chinazes{background-color: coral;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}
.sanchizes{font-size: 24px;
}
#burma{font-size: 36px;
    color: blue;
}
#sancho{font-size: 24px;
    font-weight: bold;
    background-color: rgb(63, 212, 83);
    
}
